<h1>Tag: <%= @tag.name %></h1>

<p><%= link_to "Edit tag", edit_tag_path(@tag) %></p>
<p><%= link_to "Delete tag", tag_path( @tag),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to recipe", recipe_path(@recipe) %></p>